<div class="container">
  <div class="row">
      <input [(ngModel)]="search_item" placeholder="Search" class="col-6">

      <select placeholder="Tri" class="col-4 offset-2 custom-select">
        <option *ngFor="let tri of sorts" [value]="sorts" class="form-control">
          {{tri}}
        </option>
      </select>

  </div>

  <div class="row col-12">

    <table class="table container">
      <tbody>
        <tr *ngFor="let prod of foodList" class="row" >
          <td class="col-md-1 col-2">
              <div *ngIf="prod.notify; else elseBlock"><img [src]="bellon"></div>
              <ng-template #elseBlock><img [src]="belloff"></ng-template>
          </td>

          <td class="col-md-4 col-4" style="white-space:nowrap">
            <div class="row">
              {{prod.name}}
            </div>
            <div class="row">
              {{prod.expiryDate.toDateString()}}
            </div>
          </td>

          <td class="col-md-7 col-6">
            <input type="number" min="0" value={{prod.currentQuantity}} step={{prod.measure.graduation}}>
            {{prod.measure.name}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <button class="btn btn-primary">Confirmer</button>
</div>
