img{
  height: 40px;
  width: 40px;
}
.green{
  background: rgba(97, 209, 46, 0.5);
}

.red{
  background: rgba(255, 0, 0, 0.5);
}

.inputPadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
