<div class="card">
  <div class="card-header">
    Changer mot de passe
  </div>
  <div class="card-body">
      <div class="row text-center text-danger">
          <ngb-alert *ngIf="hasAnMsg" (close)="hasAnMsg = false" type="danger" class="offset-2 col-8 text-center">
            {{msg}}
          </ngb-alert>
        </div>
    <div class="form-group row">
      <label for="passwordSettings1" class="col-5">Ancien mot de passe</label>
      <div class="col-7">
        <input class="col-12 inputPadding" type="password" placeholder="Ancien mot de passe" id="passwordSettings1"
          [(ngModel)]="oldPassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="passwordSettings2" class="col-5">Nouveau mot de passe</label>
      <div class="col-7">
        <input class="col-12 inputPadding" type="password" placeholder="Nouveau mot de passe" id="passwordSettings2"
          [(ngModel)]="newPassword">
      </div>
    </div>
    <div class="form-group row">
      <label for="passwordSettings3" class="col-5">Confirmer nouveau mot de passe</label>
      <div class="col-7">
        <input class="col-12 inputPadding" type="password" placeholder="Confirmer nouveau mot de passe" id="passwordSettings3"
          [(ngModel)]="newConfirmedPassword">
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary mx-auto d-block" (click)="valid()">Valider</button>
    </div>
  </div>
</div>