<div class="container">
    <div class="row">
      <p>Créer un compte</p>
    </div>
    <div [hidden]="!has_an_error" class="row">
      <p>{{error_msg}}</p>
    </div>
    <div class="row">
      <input placeholder="Email" [(ngModel)]="email">
    </div>
    <div class="row">
      <input placeholder="Nom d'utilisateur" [(ngModel)]="username">
    </div>
    <div class="row">
      <input type ="password" placeholder="Mot de passe" [(ngModel)]="password">
    </div>
    <div class="row">
      <input type ="password" placeholder="Confirmer mot de passe" [(ngModel)]="confirmed_password">
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" (click)="logup()">Valider</button>
    </div>
    <div>
      <a routerLink="">Retour</a>
    </div>
  </div>