<div class="card">
  <div class="card-header">
    Changer identifiants
  </div>
  <div class="card-body">
    <div class="row text-center text-danger">
      <ngb-alert *ngIf="hasAnMsg" (close)="hasAnMsg = false" type="danger" class="offset-2 col-8 text-center">
        {{msg}}
      </ngb-alert>
    </div>
    <div class="form-group row">
      <label for="emailSettings" class="col-5">Email</label>
      <div class="col-7">
        <input class="col-12 inputPadding" type="email" id="emailSettings" placeholder="Email" [(ngModel)]="email">
      </div>
    </div>
    <div class="form-group row">
      <label for="usernameSettings" class="col-5">Nom d'utilisateur</label>
      <div class="col-7">
        <input class="col-12 inputPadding" type="text" id="usernameSettings" placeholder="Nom d'utilisateur"
          [(ngModel)]="name">
      </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary mx-auto d-block" (click)="valid()">Valider</button>
      </div>
  </div>
</div>